.large-hero {
	
    position: relative;
}

    .large-hero__text-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        left: 0;
        width: 100%;
        text-align: center;
    }

    .large-hero__title {
        color: #2f5572;
        font-size: 4.8em;
        font-weight: 300;
    }

    .large-hero__subtitle {
        color: #2f5572;
        font-size: 2.9em;
        font-weight: 300;
    }
